*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.nav{
	background: #17202A;
	background: #81847d;
	background: #304154;
	background: linear-gradient(45deg,#a1aab3,#48596c,#090d11);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	z-index: 1;
}

.nav a:hover{
	background: black;
	color: lightblue;
}

#brand{
	display: flex;
	justify-content: flex-start;
	
}

html,body{
	height: 100%;
	width: 100%;
}


.parallaxContainer{
	background-image: url("https://source.unsplash.com/Q1p7bh3SHj8");
	background-attachment: fixed;
	background-color: #000000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

header{
	height: 100vh;
	padding: 100px;
	color: white;
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects{
	background: #b7b7af;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projects a{
	text-decoration: none;
}


.project-tile{
	margin: 1%;
}


#footerSection{
	color: white;
	display: flex;
  flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*background: #41474a;*/
    background: linear-gradient(45deg,#a1aab3,#48596c,#090d11);
    height: 30vh;

}

div > a, li > a{
	padding: 10px 10px;
	/*border: thin solid white;*/
	color: white;
	text-decoration: none;
}


/*Project boxes*/
#tributePage{
	border: thin solid black;
	height: 25%;
	width: 35%;
}

.thumbnailImgs{
	width: 100%;
	height: 35vh;
}

.ASCIIspan{
	color: white;
	width: 100%;
	text-align: center;
}












