* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

:root {
  /* height: 100vh; */
  --shadow: hsla(171, 27%, 15%, 1);
  --midtone: hsla(53, 14%, 65%, 1);
  --highlight: hsla(180, 11%, 52%, 1);
  --accent: hsla(189, 19%, 41%, 1);
  --accent: hsla(189, 40%, 80%, 1);
}

body {
  position: relative;
}

/* NAVBAR */
nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 1rem;
}

/* WELCOME SECTION */
/* remove padding from container-fluid */
.container-fluid {
  padding: 0;
}

/* padding for header-text container */
.header-padding {
  padding: 1rem;
}

/* push elements in header-text container down */
.header-margin {
  margin-top: 25%;
}

#welcome-section {
  /* position: relative; */
  /* border: 2px solid red; */
  height: 100vh;
  /* margin-top: 1rem; */
}

#welcome-section #header-img {
  width: 100%;
  /* max-height: 100%; */
}

#welcome-section .header-text {
  background: lightgray;
  /* color: #fff; */
}

/* PROJECTS SECTION */
#projects {
  background: gray;
}
.project-tile {
  padding: 1.5rem;
  background: lightblue;
}
/* card-image  */
img {
  display: block;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
}
