* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  /* height: 100vh; */
  --shadow: hsla(171, 27%, 15%, 1);
  --midtone: hsla(180, 11%, 52%, 1);
  --highlight: hsla(53, 14%, 65%, 1);
  --accent: hsla(189, 40%, 80%, 1);
  --light-text-color: hsla(0, 0%, 94%, 1);
  /* --accent: hsla(189, 19%, 41%, 1); */
}

body {
  /* position: relative; */
  background: var(--shadow);
  font-size: 18px;
}

/* NAVBAR */

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 1rem;
  /* color: var(--accent); */
}

#navbar a {
  /* color: var(--accent); */
  color: #fff;
}

.navlink-spacing-custom {
  margin-right: 1rem;
  margin-top: 1rem;
}

/* WELCOME SECTION */
/* remove padding from container-fluid */
.container-fluid {
  padding: 0;
}

/* padding for header-text container */
.header-padding {
  padding: 1.5rem;
}

/* push elements in header-text container down */
.header-margin {
  margin-top: 0;
}

#welcome-section {
  /* position: relative; */
  /* border: 2px solid red; */
  height: 100vh;
  /* margin-top: 1rem; */
}

#welcome-section #header-img {
  width: 100%;
  /* max-height: 100%; */
}

#welcome-section .header-text {
  background: hsla(171, 27%, 15%, 1);
  color: hsla(189, 40%, 80%, 1);
}

/* PROJECTS SECTION */
.no-padding {
  padding: 0;
}

#projects {
  background: hsla(53deg, 8%, 85%, 1);
  /* color: var(--highlight); */
  color: var(--shadow);
}

.project-tile {
  padding: 1.5rem;
}

/* GLOBAL STYLES FOR PROJECT-TIE <a> */
.project-tile a {
  text-decoration: none;
  font-size: 1.5rem;
}

/* STYLES: ODD # TILES */
.project-tile:nth-of-type(odd) {
  /* padding: 1.5rem; */
  /* background: var(--midtone); */
  background: var(--highlight);
}

.project-tile:nth-of-type(odd) a {
  color: var(--shadow);
}

/* STYLES: EVEN # TILES */
.project-tile:nth-of-type(even) {
  background: var(--accent);
  background: var(--midtone);
  color: var(--light-text-color);
}

.project-tile:nth-of-type(even) a {
  color: var(--light-text-color);
}

.project-tile p {
  /* top/bottom - left/right */
  margin: 1.5rem 0;
}

/* CARD-IMAGE  */
img {
  display: block;
}

/* FOOTER (Inherits background color from body element) */
#footer {
  color: var(--accent);
  font-size: 1.2rem;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
  .header-margin {
    margin-top: 25%;
  }
}
