* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

:root {
  --lightgray: #b6c1c1;
  --slightly-less-lightgray: #959ba2;
}

/* NAVBAR */
.sticky {
  position: fixed;
  width: 100%;
}

/* HEADER */
#header {
  position: relative;
}

/* HERO IMAGE + HERO IMAGE TEXT OVERLAY */
.hero {
  width: 100%;
}

.hero-text {
  position: absolute;
  bottom: 72%;
  color: #fff;
  width: 50%;
  margin: 0 1rem;
}

/* WELCOME SECTION */
#welcome-section {
  height: 100%;
  padding: 1rem;
  background: var(--lightgray);
}

.welcome {
  background: inherit;
}

/* PROJECTS SECTION */
#projects {
  padding: 1rem;
  background: var(--slightly-less-lightgray);
}

.projects img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 768px) {
}
