/* 
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--dark-primary-background: #002436;
	--light-primary-background: #f1f1f1;
	--light-text-color: #fff;
	--dark-text-color: #333;
	--main-content-padding: 2.5%;
	/* --width: 80%; */






/* navbar */
.navbar-dark{
	background: var(--dark-primary-background);
}

.navbar .collapse ul{
	display: flex;
	/* flex-direction: column; */
}

/* .navbar .collapse .first-link{
	margin-left: 60vw;
}
.navbar .collapse a{
	margin-left: 55px;
} */

ul a:hover{
	border-bottom: 1px solid #f2f2f2;
	color: #f2f2f2;
}

/* main image */
#trainImage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2.5%;
	/* align-items: center; */
}

#trainImage{
	color: var(--light-text-color);
}

/* CALL-TO-ACTION BUTTON*/
#trainImage a{
	/* background: var(--primary-color); */
	width: 20%;
}

/* ABOUT AMTRAK */
#aboutAmtrak{
	background: var(--light-primary-color);
	/* color: var(--dark-text-color); */
	height: 60vh;
	padding: 2.5%;
}

#aboutAmtrack p{
	color: var(--dark-primary-color);
}

/* CONTACT US */
#contactUs{
	background: var(--dark-primary-background);
	color: var(--light-text-color);
	padding: var(--main-content-padding);
}

li{
	list-style-type: none;
}

div#contactContent{
	text-align: center;
}


/* videos section */
div#video-section{
	/*CREATES/ELIMINATES SPACE BETWEEN ELEMENTS AT THE TOP*/
	margin-top: -1rem; 
}




#trainImage{
	height: 100vh;
	background-attachment: fixed;
	background: 
	linear-gradient(rgba(123,123,123,0.2), black),
	url("../images/train_on_track.jpg") no-repeat center center/cover;
	object-fit: cover;
}


/* footer */
#main-footer{
	background: var(--dark-primary-background);
	height: 30vh;
}

/* validation link */

#validationLink{
	text-align: center;
	padding: 15px;
}

