/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* css variables */
:root {
  --dark-primary-background: #002436;
  --light-primary-background: #f1f1f1;
  --light-text-color: #fff;
  --dark-text-color: #333;
  --main-content-padding: 2.5%;
}

/*utility classes */

/* all paragraphs w/ lead class */
p.lead {
  font-size: 3rem;
}

/* navbar */
.navbar-dark {
  background: var(--dark-primary-background);
}

/* nav link hover effect */
ul a:hover {
  border-bottom: 1px solid #f2f2f2;
  color: var(--dark-text-color);
}

/* INDEX.HTML */

/* hero image */
#trainImage {
  height: 100vh;
  background-attachment: fixed;
  background: linear-gradient(rgba(123, 123, 123, 0.2), black),
    url("../images/train_on_track.jpg") no-repeat center center/cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5%;
  color: var(--light-text-color);
}

/* c-t-a button */
#trainImage a {
  /* background: var(--primary-color); */
  width: 20%;
}

/* aboard train */
#aboardTrain p {
  background: var(--dark-primary-background);
  color: var(--light-text-color);
  margin-bottom: 2.5rem;
}

#aboardTrain {
  background: var(--dark-primary-background);
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* contact us*/
#contactUs {
  background: var(--dark-primary-background);
  color: var(--light-text-color);
  padding: var(--main-content-padding);
}

#contactUs .container {
  display: flex;
  flex-direction: column;
  /* order: 4; */
  /* border: 1px solid gold; */
  width: 90%;
}

#contactUs form,
textarea,
#contactUs button {
  width: 100%;
}

li {
  list-style-type: none;
}

div#contactHeader {
  text-align: center;
}

/* about.html: 
ABOUT AMTRAK */
/* #aboutAmtrak {
  height: 70vh;
  padding: 2.5%;
} */

#aboutAmtrak .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutAmtrak {
  background: var(--light-primary-color);
  width: 100%;
  height: 65vh;
  padding: 2.5%;
}

#aboutAmtrak p {
  color: var(--dark-primary-color);
}

/* footer */
#main-footer {
  background: #42525a;
  color: var(--light-text-color);
  text-align: center;
}

#main-footer p {
  font-size: 1.2rem;
}
#main-footer i {
  margin: 5%;
}

/* train image */
#trainImage h1 {
  margin-top: -4.5rem;
}

#trainImage p {
  padding: 0 5px;
}
#trainImage .btn {
  width: 100%;
}

#pricing {
  background: url(../images/under-construction-min.jpg) no-repeat center
    center/cover;
  width: 100vw;
  height: 50vh;
}

/* validation link */

#validationLink {
  text-align: center;
  padding: 15px;
}

/* media queries */
@media screen and (max-width: 576px) {
  #main-footer {
    height: 50vh;
    background: #42525a;
  }

  /* pricing */
  #pricing {
    /* background: url(../images/under-construction-min.jpg) no-repeat center
    center/cover; */
    width: 100vw;
    height: 100vh;
  }
}

/* mobile screens: landscape mode */
@media screen and (max-height: 576px) {
  /* about amtrak */
  #aboutAmtrak .lead {
    font-size: 1.5rem;
  }

  /* train image */
  #trainImage h1 {
    margin-top: -1.2rem;
    font-size: 3.1rem;
  }

  /* footer */
  #main-footer {
    height: 70vh;
  }
}
